/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/
/*TODO ---- Mobile ---- */
@media screen and (min-width: 375px) {
    
    /* --------------------------------->  Menu */
    section.menu {
        margin: 0;
        justify-content: space-around;
    }
    
    .menu__list {
        display: none;
    }
    
    .menu__list__item__contato {
        display: block;
    
        font-weight: 400;
    }
    
    /* --------------------------------->  Titulo */
    .title__div {
        flex-direction: column;
        align-items: center;
    
        margin: -16px 16px 16px 16px;
    }
    
    .title__profile {
        width: 98px;
        height: 98px;
    
        margin-bottom: 16px;
    }
    
    .title__container {
        width: 360px;
    }
    
    .title__bio {
        font-size: 22px;
        line-height: 26px;
    
        color: blue;
    }
    
    .title__subsection {
        font-size: 14px;
        line-height: 16px;
    }
    
    .title__network {
        width: 318px;
    }
    
    /* --------------------------------->  About */
    section.about {
        padding: 16px;
    }
    
    .about__container {
        width: auto;
    }
    
    .about__title {
        font-size: 22px;
        line-height: 26px;
    
        margin: 0;
    }
    
    .about__paragraph {
        font-size: 14px;
        line-height: 16px;
    }
    
    /* --------------------------------->  Skills */
    section.skills {
        padding: 16px;
    }
    
    .skills__title {
        margin: 16px;

        font-size: 22px;
        line-height: 26px;
    }
    
    .skills__line {
        justify-content: space-around;
    }

    .skills__box {
        width: 110px;
        height: 118px;
    }
    
    /* --------------------------------->  Hobbies */
    section.hobbies {
        padding: 16px;
    }
    
    .hobbies__title {
        margin: 16px;

        font-size: 22px;
        line-height: 26px;
    }
    
    .hobbies__line {
        justify-content: space-around;
    }

    .hobbies__box {
        width: 110px;
        height: 118px;
    }
     
    /* --------------------------------->  Formação Acadêmica */
    section.academic {
        padding: 16px;
    }
    
    .academic__title {
        margin: 16px;

        font-size: 22px;
        line-height: 26px;
    }
    
    .academic__courses {
        flex-wrap: wrap;
    }

    .academic__courses__box {
        margin: 16px;
    }

    .academic__courses__item__img {
        width: 296px;
        height: 118px;
    }

    .academic__courses__list li {
        margin: 0;
    }

    .academic__courses__item__title {

        font-size: 16px;
        line-height: 19px;
    }

    .academic__courses__item__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
    
    /* --------------------------------->  Experiência Profissional */
    section.experience {
        padding: 16px;
        margin: 0;
    }
    
    .experience__section__title {
        margin: 16px;

        font-size: 22px;
        line-height: 26px;
    }
    
    .experiencie__box {
        flex-direction: column;
    }
    
    .experiencie__box:nth-child(odd) {
        flex-direction: column;
    }

    .experience__img {
        width: 296px;
        height: 144px;
    }

    .experience__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .experience__title {
        font-size: 16px;
        line-height: 19px;

        margin: 16px 0 0 0;
    }
    
    .experience__text {
        font-size: 14px;
        line-height: 16px;
    }

    .experiencia__botao--repo, .experiencia__botao--demo {
        width: 96px;
        height: 40px;

        padding: 12px 16px;
    }
    
    /* --------------------------------->  Contato*/
    .formcontato__contato {
        padding: 16px;
    }
    
    .formcontato--esquerda {
        display: none;
    }
    
    .formcontato__text {
        margin: 0;
    }

    .formcontato__form {
        height: 350px;
    }

    .formcontato__botao {
        width: 151px;
        height: 40px;

        padding: 12px 16px;
    }
    
    /* --------------------------------->  Footer */
    
}


/*TODO ---- Tablet ---- */
@media screen and (min-width: 768px) {

    /* --------------------------------->  Menu */
    section.menu {
        justify-content: space-between;

        margin: 0 32px;
    }
    
    .menu__list {
        display: none;
    }
    
    .menu__list__item__contato {
        display: block;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    
    /* --------------------------------->  title */
    .title__div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        margin: 16px 32px;
    }
    
    .title__profile {
        width: 146px;
        height: auto;
    }

    .title__container {
        width: 524px;
        height: 130px;
    }
    
    .title__bio {
        color: red;
    }
    
    .title__subsection {
        font-size: 16px;
        line-height: 19px;
    }

    .title__network {
        width: 450px;
    }
    
    /* --------------------------------->  About */
    section.about {
        padding: 32px;
    }
    
    .about__container {
        width: 600px;
    }
    
    .about__title {
        font-size: 22px;
        line-height: 26px;
    }
    
    .about__paragraph {
        font-size: 14px;
        line-height: 16px;
    }
    
    /* --------------------------------->  Skills */
    .skills__title {
        font-size: 22px;
        line-height: 26px;
    }

    .skills__box {
        width: 170px;
        height: 118px;
    }
    
    /* --------------------------------->  Hobbies */
    .hobbies__title {
        font-size: 22px;
        line-height: 26px;
    }

    .hobbies__box {
        width: 170px;
        height: 118px;
    }
    
    /* --------------------------------->  Acadêmicas */
    section.experience {
        align-items: center;
    }
    
    .academic__title {
        font-size: 22px;
        line-height: 26px;
    }

    .academic__courses {
        flex-wrap: nowrap;

        margin: 0;
    }

    .academic__courses__item__img {
        width: 224px;
        height: 118px;
    }
    
    /* --------------------------------->  Experiência profissional */
    .experience__section__title {
        font-size: 22px;
        line-height: 26px;
    }
    
    .experiencie__box {
        flex-direction: column;
    
        width: 704px;
    }
    
    .experiencie__box:nth-child(odd) {
        flex-direction: column;
        align-items: center;
    }
    
    .experience__img {
        width: 704px;
        height: 320px;
    }
    
    .experience__title {
        font-size: 16px;
        line-height: 19px;
    }
    
    .experience__text {
        font-size: 14px;
        line-height: 16px;
    }
    
    /* --------------------------------->   BOTOES */

    .experiencie__box {
        align-items: center;
    }

    .experiencie__box:nth-child(odd) {
        align-items: center;
    }

    .experiencia__botao--repo, .experiencia__botao--demo {
        width: 96px;
        height: 40px;
    
        padding: 12px 16px;
    }
    
    /* --------------------------------->  Contato */
    .formcontato__contato {
        padding: 50px 80px;
    
        justify-content: center;
    }
    
    .formcontato--esquerda {
        display: none;
    }
    
    .formcontato__form {
        justify-content: space-evenly;
    }
    
    .formcontato__botao {
        padding: 12px 16px;
    
        width: 151px;
        height: 40px;
    }
    
}

