/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;

   --cor-de-texto-geral: #464646;
   --cor-de-fundo-destaque: #EAF2FD;
   --cor-das-caixas: #FFFFFF;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;

    color: var(--cor-de-texto-geral);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*! --- Sessão Menu --- */
section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 150px;
}

section header {
    display: flex;
    align-items: center;
    font-weight: 700;
}

section header img {
    margin-right: 16px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 750px;

    padding: 0;

    font-weight: 500;
}

.menu__list__item:last-child {
    /* Deixando em negrito */
    font-weight: 700;
}
/* FIM --- Cabeçalho */

/*! --- Sessão Title --- */
section.title{
    margin: 32px 0;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    margin: 0 150px;
}

.title__container {
    width: 800px;
}

.title__bio {
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;

    margin: 0;
}

.title__subsection {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.title__network {
    display: flex;
    justify-content: space-between;

    width: 450px;

    padding: 0;

    font-weight: 500;
}
/* FIM --- Título */

/*! --- Sessão About --- */
section.about{
    background-color: var(--cor-de-fundo-destaque);
    padding: 62px 150px;
}

.about__container {
    width: 800px;
}

.about__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.about__paragraph {
    font-weight: 400;
    line-height: 19px;
}
/* FIM --- About */

/*! --- Sessão Skills --- */
section.skills {
    padding: 0 150px;
}

.skills__title {
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 16px;
    margin: 20px 0;

    width: 100px;
    height: 110px;

    background-color: var(--cor-das-caixas);
    border-radius: 20px;

    font-weight: 700;
}
.skills__box ul {
    margin: 0;
    padding: 0;
}

.skills__img {
    margin-bottom: 8px;
}
/* FIM --- Skills */

/*! --- Sessão Hobbies --- */
section.hobbies{
    padding: 0 150px;    
}

.hobbies__title {
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 16px;
    margin: 20px 0;

    width: 100px;
    height: 110px;

    background-color: var(--cor-das-caixas);
    border-radius: 20px;

    font-weight: 700;
}

.hobbies__box ul {
    margin: 0;
    padding: 0;
}

.hobbies__img {
    margin-bottom: 8px;
}

/*! --- Experiência Acadêmica --- */
section.academic{
    padding: 64px 0;
    background-color: var(--cor-de-fundo-destaque);
}

.academic__title {
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.academic__courses {
    display: flex;
    justify-content: center;

    padding: 0 150px;
}

.academic__courses__box {
    width: 26.5rem;
    margin: 0 1rem;
}

.academic__courses__list {
    margin: 0;
    padding: 0;

    text-align: center;
}

.academic__courses__list li {
    padding: 0;
    margin: 32px 0;
}

.academic__courses__item__img {
    background-color: var(--cor-das-caixas);
/*     padding: 8%;
 */
}

.academic__courses__item__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.academic__courses__item__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/*! --- experiência --- */
section.experience{
    display: flex;
    flex-direction: column;

    margin: 16px 0;
    padding: 0 150px;
}

.experience__section__title {
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.experiencie__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 25px 0;
}

.experiencie__box:nth-child(odd) {
    flex-direction: row-reverse;
}

.experience__img {
    width: 600px;
    height: 600px;
    border: 1px solid red;
}

.experience__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.experience__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/*! --- Contato --- */

section.formcontato{
    
}

/*! --- footeer --- */

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
